*{
    margin: 0;
    box-sizing: border-box;
}

html{
    margin-top: 14vh;
}

.fixed{
    display: flex;
    width: 100vw;
    height: 14vh;
    align-items: center;
    justify-content: center;
    background: #2BD9FE;
    position: fixed;
    top: 0;
    z-index: 10;
}

.fixed div{
    margin-right: 5vw;
}

.fixed h1{
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}


.menu{
    margin-left: 2vw;
    position: relative;
    z-index: 4;
}

.menu div{
    width: 13vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 80%;
    margin-left: -0.1vw;
    background: #077187;
    border-bottom-left-radius: 0.7320644216691069vh;
    border-bottom-right-radius: 0.7320644216691069vh;
    border-top-right-radius: 0.7320644216691069vw;
    color: #fff;
}

.menu div span{
    display: flex;
}

.menu div h3{
    font-size: 2vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    text-align: center;
}

.menu div h4{
    font-size: 1.6vw;
    margin-bottom: 1vh;
}

.menu div nav ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

.menu div nav ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
    list-style: none;
    font-size: 1.5vw;
    margin-bottom: 2vh; 
}


.menu div nav ul li a{
    text-decoration: none;
    color: #fff; 
}

.menu-img{
    width: 5vw;
    height: 11vh;
}

.whats-top{
    width: 4.5vw;
    height: 7.5vh;
}

.home{
    margin-left: -4vw;
    font-size: 1.5vw;
}

.home a{
    text-decoration: none;
    color: #000;
    font-family: 'rubik';
}

.barra-acess{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.hidden{
    display: none !important;
}

/* Barra de contato */

.contato-top{
    width: 100vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background: #beb69f;
    display: flex;  
    align-items: center;
    justify-content: center;
}
.contato-top h4{
    margin-right: 3vw;
    font-size: 1.5vw;
    font-family: 'rubik', sans-serif;
    color: #fff;
}

/* Empresa */

main{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

main h2{
    margin-left: 8.55vw;
    margin-top: 5.025125628140704vh;
    margin-bottom: 5.025125628140704vh;
    font-size: 2.4154589371980677vw;
}

.img-right{
    display: flex;
    align-items: center;
    margin-bottom: 5.025125628140704vh;
    margin-left: 8.55vw;
}

.img-right p{
    width:  40.25764895330113vw;
    font-size: 1.6103059581320451vw;
    line-height: 125%;
    margin-right: 5.636070853462158vw;
}

.img-right img{
    width: 40.12238325281803vw;
}

.img-left{
    display: flex;
    align-items: center;
    margin-left: 8.55vw;
    margin-bottom: 5.025125628140704vh;
}

.img-left p{
    width: 40.25764895330113vw;
    font-size: 1.6103059581320451vw;
    line-height: 125%;
    margin-right: 5.636070853462158vw;
}

.img-left img{
    width: 40.12238325281803vw;
    margin-right: 5.636070853462158vw;
}


/* footer */

footer{
    width: 100vw;
    background-color: #077187;
    color: #fff;
    padding-bottom: 1.5220700152207vh;
}

footer h2{
    padding-top: 4.566210045662101vh;
    margin-left: 8.55vw;
    font-size: 2.1961932650073206vw;
}

footer div p{
    margin-left: 8.55vw;
    font-size: 1.4641288433382138vw;
}

footer div h3{
    margin-left: 8.55vw;
    font-size: 1.8301610541727673vw;
}

footer div div a{
    text-decoration: none;
    color: #2BD9FE;
}

.container{
    display: flex;
    align-items: center;
}

.container div:nth-child(1){
    margin-right: 29.282576866764277vw;
}

.container div img{
    width: 10.980966325036603vw;
}